<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
  
 <extension
       point="org.eclipse.ui.exportWizards">
    <wizard
          category="org.eclipse.virgo.ide.export"
          class="org.eclipse.virgo.ide.export.BundleExportWizard"
          icon="icons/full/obj16/osgi_obj.gif"
          id="org.eclipse.virgo.ide.wizard.export.bundle"
          name="%wizard.name">
       <description>
          %wizard.description
       </description>
    </wizard>
    <category
          id="org.eclipse.virgo.ide.export"
          name="%category.name">
    </category>
    <wizard
          category="org.eclipse.virgo.ide.export"
          class="org.eclipse.virgo.ide.export.ParExportWizard"
          icon="icons/full/obj16/par_obj.gif"
          id="org.eclipse.virgo.ide.wizard.export.par"
          name="%wizard.name.0">
       <description>
          %wizard.description.0
       </description>
    </wizard>
 </extension>
	
</plugin>
